
  
  <div class="icon" >

   <img src="/assets/LOGPEQUENA.png" style="width: 6%; " class="imagem">
   <a href="https://d1uzdx1j6g4d0a.cloudfront.net/players/topo/12/173418/" target="_blank"><i  style="font-size: 30px; color:  rgb(255, 255, 255);"  class="fa fa-play-circle"></i></a> 

    <div style="display: flex; "><i class="fa fa-phone-alt" ><a target="_blank" href="https://api.whatsapp.com/send?phone=5591992746537&text=Bem%20vindo%20ao%20Caf%C3%A9%20de%20A%C3%A7ai%20da%20Amaz%C3%B4nia"><img src="/assets/WHAT.png" alt="" style="width: 40px; " ></a></i></div>
    
    <label for="btn-menu" class="icon2" >
      <i class="fa fa-align-justify" style="display: flex; margin-top: 10px;"></i>
      

    </label>
  
  </div>

<div class="menu">
  <input type="checkbox" id="btn-menu" />  
  <ul class="menu2" >
    <li class="lista" ><i class="fa fa-home" ></i><a routerLink="/slide"  style="text-decoration: none; color: rgb(255, 255, 255);">Home</a> </li>
    
    <li><i class="fa fa-camera" ></i><a routerLink="/fotos">Fotos</a> </li>

    <li class="lista"><i class="fa fa-video-camera"></i><a routerLink="/videos" >Videos</a></li>
   
    <li><i class="fa fa-map-marker" aria-hidden="true"></i><a routerLink="/endereco">Localização</a></li>

    
   
    
  </ul>





</div>




