<div  style="margin:30px">
    <h2 style="text-align:center">Chegou o mel de abelha TBW</h2>
    
    <div class='row'style='justify-content:center;align-items:center'>
       
        <div class="col-12 col-md-4 " style="display: flex; justify-content: center; align-items: center; ">

            <img class="img-fluid" style="width:600px; margin-top: 30px;" alt="Responsive image" [src]="fotos[1] "
              data-holder-rendered="true">
      
          </div>

          <div class="col-12 col-md-4 " style="display: flex; justify-content: center; align-items: center; ">

            <img class="img-fluid" style="width:600px; margin-top: 30px;" alt="Responsive image" [src]="fotos[1] "
              data-holder-rendered="true">
      
          </div>
    </div>
    <h2 style="text-align:center; margin-top:25px">Produto 100% Natural</h2>
    <h4 style="text-align:center; margin-top:25px">Adquira o seu nas Tabacarias Wilson</h4>
</div>

