<div class="container-fluid">

  <div class="row" style="display: flex; justify-content: space-around;">

    <div class="container">

    </div>
    <div class="col-12 col-md-6">
      <h4 style="padding: 20px;">Carroço do Açai vira café</h4>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/CaleFAs3Sx8" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

    </div>

    <div class="col-12 col-md-6 ">
      <h4 style="padding: 20px;">Produtor da Amazônia</h4>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/tssvJe1Nkys" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>

    <div class="col-12 col-md-6 ">
      <h4 style="padding: 20px;">Novidades</h4>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Pa9A_SYJueE" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>

    <div class="col-12 col-md-6 ">
      <h4 style="padding: 20px;">Criatividade</h4>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ZEnq3r72PKo" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>

    <div class="col-12 col-md-6 ">
      <h4 style="padding: 20px;">Café Paraense</h4>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/9yfYvV-GWjM" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
      </div>
    </div>

    <div class="col-12 col-md-6 ">
      <h4 style="padding: 20px;">Café Paraense</h4>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/IMN9TWZNb2E" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
      </div>
    </div>


    <div style="margin-top: 50px; margin-bottom: 30px;">

      <a style="text-decoration: none;"
        href="https://api.whatsapp.com/send?phone=5591992746537&text=Bem%20vindo%20ao%20Caf%C3%A9%20de%20A%C3%A7ai%20da%20Amaz%C3%B4nia"
        target="_blank"><button type="button" class="btn btn-secondary btn-lg btn-block"
          style="background-color:#754574 !important;"> Clique aqui e peça o seu </button></a>


    </div>

  </div>